.main .front-intro {
  background-image: url('images/front-intro-alt.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;

  padding-left: 175px;
  padding-top: 75px;

  border-bottom-width: 8px;
  border-bottom-color: #bebaa2;
  border-bottom-style: solid;
}

.main .front-intro .front-menu {
  background-color: white;
  border-radius: 16px;

  border-bottom-width: 8px;
  border-bottom-color: #bebaa2;
  border-bottom-style: solid;

  width: 475px;
  height: 525px;
}

/* Style the tab */
.main .tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.main .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;

  font-weight: bold;

  padding-top: 32px;
  padding-bottom: 32px;

  border-bottom-style: solid;
  border-bottom-color: #d6cfaa;
  border-bottom-width: 1px;

  width: 33.33333334%;
}

.main .tab button:hover {
  border-bottom-width: 4px;
}

.main .tab button.active {
  border-bottom-width: 4px;
}

/* Style the tab content */
.main .tabcontent {
  display: none;
  padding: 6px 48px;
}

.tab-btn {
  cursor: pointer;
  background-color: black;
  color: white;

  padding: 12px;
  font-weight: bold;
  border-width: 4px;
  border-style: solid;
  border-color: black;

  transition-duration: 0.3s;
}

.tab-btn:hover {
  background-color: white;
  color: black;

  border-width: 4px;
  border-style: solid;

  transition-duration: 0.3s;
}

.front-content1 {
  background-image: url('images/front-content1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;

  padding-left: 175px;
  padding-top: 75px;

  border-bottom-width: 8px;
  border-bottom-color: #bebaa2;
  border-bottom-style: solid;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.containers {
  padding: 8px;
  background-color: #fff;

  border-radius: 8px;
  border-width: 4px;
  border-style: dotted;

  margin-top: 24px;

  cursor: pointer;
  transition-duration: 0.3s;
}

.containers:hover {
  background-color: #f4f0e4;
  transition-duration: 0.3s;
}

.container1 {
  margin-right: 24px;
}

.container2 {
  margin-left: 24px;
  margin-right: 24px;
}

.container3 {
  margin-left: 24px;
}

.content-image {
  width: 325px;
  height: 200px;
  border-radius: 8px;
}

#nomad-f, #nomad-p {
  display: inline-block;
  margin-top: 12px;
}

#tavern {
  display: inline-block;
  margin-top: 12px;
}

#guild {
  display: inline-block;
  margin-top: 12px;
}
